.player-list-room {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.player-card-room {
  width: 15rem;
  height: 15rem;
  background-color: #1B1A55;
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-align: center;
  border: 2px solid #535C91;
  transition: transform 0.2s ease-in-out;
}
.player-card-room.current-user-card {
  background-color: #4caf50;
}
.player-card-room:hover {
  transform: scale(1.05);
}
.player-name-room {
  font-size: 1.2rem;
  word-break: break-word;
  color: #DFF2EB;
  font-family: 'Lora', serif;
  letter-spacing: 0.5px;
}
