.room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Push content to top */
  padding: 2rem;
  width: 100vw;              /* Take full viewport width */
  min-height: 100vh;         /* Full screen height */
  box-sizing: border-box;    /* Ensure padding doesn’t overflow */
  
  background-color: #070F2B;
  background-image: url("../../public/pattern.svg");
  background-size: 500px;
  background-repeat: repeat;

  color: #9290C3;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}


/* Room Code Header */
.room-heading {
  font-family: 'Lora', serif;
  font-size: 2.5rem;
  background-color: #1B1A55;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #FFE3A9;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: center;
  word-break: break-word;
}

/* Players Header */
.room-subheading {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #9290C3;
}

/* Start Game Button */
.start-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  background-color: #535C91;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.start-button:hover {
  background-color: #9290C3;
  transform: scale(1.05);
}
